*{
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Rokkitt', serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Header */
.header{
    background: url('../img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.header__navbar{
    justify-content: space-around;
}

.header__navbar .navbar-nav .nav-item{
    padding: 0 1rem;
    letter-spacing: 2px;
}

.header__navbar .navbar-nav .nav-item.active .nav-link{
    color: #fbbd61;
    font-weight: 500;
}

.header__navbar .navbar-nav .nav-item .nav-link:hover{
    color: #fbbd61;
}

.header__navbar .navbar-nav .nav-item .nav-link{
    color: white;
    font-size: 1.2rem;
    transition: all .5s;
}

.header__content{
    color: white;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.header__content{
    letter-spacing: 3px;    
}

.header__content p{
    margin-bottom: 0;
    font-size: 1.5rem;
}

.header__content h2{
    font-size: 3rem;
    
}

.header__content span {
    color: #796464;
    letter-spacing: 5px;
}




/* About Me */
.aboutMe .container{
   padding: 0;
}

.aboutMe .aboutMe__avt img{
   /* max-height: 400px; 
   max-width: 400px; */
   width: 100%;
   max-height: 600px;
   box-shadow: 5px 5px 5px #888;
   border-radius: 0 15px 0 0;
}


.aboutMe__content h3{
    color: #fbbd61;
    font-weight: 500;
}

.aboutMe__content{
    padding-left: 2rem;
}

.aboutMe__detail{
    width: 100%;
    border-top: 1px solid #7C989C;
    border-right: 1px solid #7C989C;
    padding-top: 1.5rem;
}

.detail__right a{
    text-decoration: none;
    color: black;
    
}

@media screen and (max-width: 992px) {
    .aboutMe__avt{
        display: none;
    }
}

@media screen and (max-width: 556px) {
    .detail__right-educa{
        display: none;
    }
}



/* SKILLS */


/* Footer */
.footer{
    background-color: #7C989C;
}

.footer__top{
    padding: 1.2rem 0 1rem;
}

.footer__icon i {
    font-size: 1.5rem;
    height: 40px;
    width: 40px;
    border: 1px solid transparent;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin: 0 2rem;
    background-color: white;
    cursor: pointer;
    transition: all .5s;
}

.footer__icon i:hover{
    background-color: #fbbd61;
    color: white;
}

.footer__icon a{
    color: #fbbd61;
}

.footer__bottom{
    text-align: center;
    letter-spacing: 3px;
}

.footer__bottom a{
    color: #fbbd61;
    text-decoration: none;
}

@media screen and (max-width: 720px) {
    .footer__icon-hidden{
        display: none;
    }
}


/* BACK TO TOP */
.back-to-top{
    position: fixed;
    right: 40px;
    bottom: 50px;
    visibility: hidden;
    opacity: 1;
    
}

.back-to-top i{
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #fbbd61;
    line-height: 50px;
    text-align: center;
}

.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
}

.back-to-top :hover{
    opacity: 0.5;
}